In [ ]:
import pandas as pd
import numpy as np

TASK 1 : DATA PREPARATION

1. Load the dataset on colab

In [ ]:
path = 'https://github.com/andvise/DataAnalyticsDatasets/blob/16ca8de1233c8643bfe85fcd1cd87c9ff2221312/titanic.csv?raw=true'
df = pd.read_csv(path)

2. Display the attributes' name and theri datatype

In [ ]:
df.dtypes

PassengerId                  int64
Survived                     int64
Pclass                       int64
Name                        object
Sex                         object
Age                        float64
Siblings/Spouses Aboard      int64
Parents/Children Aboard    float64
Fare                       float64
dtype: object

3. Delete the columns PassengerID and Name

In [ ]:
df.drop(['PassengerId','Name'],inplace=True,axis=1)

In [ ]:
df

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,male,22.0,1,0.0,7.2500
1,1,1,female,38.0,1,0.0,71.2833
2,1,3,female,26.0,0,0.0,7.9250
3,1,1,female,35.0,1,NaN,53.1000
4,0,3,male,35.0,0,0.0,8.0500
...,...,...,...,...,...,...,...
882,0,2,male,27.0,0,0.0,13.0000
883,1,1,female,19.0,0,0.0,30.0000
884,0,3,female,7.0,1,2.0,23.4500
885,1,1,male,26.0,0,0.0,30.0000
886,0,3,male,32.0,0,0.0,7.7500

4. Replace all the missing values with 0

In [ ]:
df.replace(np.nan,0,inplace=True)

In [ ]:
df.isnull().any().sum()

0

5. Transform the Sex column into a numerical one

In [ ]:
df['Sex'].replace(['male','female'],[0,1],inplace=True)
df

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,0,22.0,1,0.0,7.2500
1,1,1,1,38.0,1,0.0,71.2833
2,1,3,1,26.0,0,0.0,7.9250
3,1,1,1,35.0,1,0.0,53.1000
4,0,3,0,35.0,0,0.0,8.0500
...,...,...,...,...,...,...,...
882,0,2,0,27.0,0,0.0,13.0000
883,1,1,1,19.0,0,0.0,30.0000
884,0,3,1,7.0,1,2.0,23.4500
885,1,1,0,26.0,0,0.0,30.0000
886,0,3,0,32.0,0,0.0,7.7500

In [ ]:
df.dtypes

Survived                     int64
Pclass                       int64
Sex                          int64
Age                        float64
Siblings/Spouses Aboard      int64
Parents/Children Aboard    float64
Fare                       float64
dtype: object

6. Use Survived as the target label and the rest of the data frame as features

In [ ]:
X = df.drop("Survived",axis=1)   #Feature Matrix
Y = df["Survived"]          #Target Variable

7. Divide your dataset in 80% for training and 20% for test

In [ ]:
training_data = df.sample(frac=0.8,random_state=3033)
testing_data = df.drop(training_data.index)
x_train = training_data.drop("Survived",axis=1)
x_test = testing_data.drop("Survived",axis=1)
y_train = training_data["Survived"]
y_test = testing_data["Survived"]

8. Scale the data using MinMax Scaler

In [ ]:
def MinMaxScaler(column) :
  column = (column - min(column))/(max(column) - min(column)) 
  return column 
for column in x_train :
  x_train[column] = MinMaxScaler(x_train[column])

for column in x_test : 
  x_test[column] = MinMaxScaler(x_test[column])

for column in training_data :
  training_data[column] = MinMaxScaler(training_data[column])

for column in testing_data :
  testing_data[column] = MinMaxScaler(testing_data[column])

In [ ]:
x_train

,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
875,0.0,1.0,0.697161,0.000,0.166667,0.162314
645,1.0,0.0,0.255521,0.000,0.000000,0.014737
121,0.5,0.0,0.400631,0.125,0.000000,0.058694
236,0.5,1.0,0.091483,0.000,0.333333,0.051237
294,1.0,0.0,0.287066,0.000,0.000000,0.014110
...,...,...,...,...,...,...
155,1.0,1.0,0.192429,0.000,0.000000,0.015094
806,1.0,0.0,0.318612,0.000,0.000000,0.015395
166,1.0,1.0,0.558360,0.125,0.666667,0.054457
679,1.0,0.0,0.242902,0.000,0.000000,0.018006
535,1.0,0.0,0.861199,0.000,0.000000,0.028302

In [ ]:
training_data.shape

(710, 7)

In [ ]:
testing_data.shape

(177, 7)

**kNN IMPLEMENTATION**

In [ ]:
def EuclideanDistance(test_point) :
  test_point = np.array(test_point)
  euclid_dist = []
  for i in range(len(x_train)) :
    row = x_train.iloc[i,:]
    row_array = np.array(row)
    euclidean_distance = np.linalg.norm(row_array - test_point)
    euclid_dist.append(euclidean_distance)
  return euclid_dist

In [ ]:
def kNN(k) :
  y = {}
  y_label = []
  label = []
  for i in range(0, len(x_test)) :
    distances = []
    y_label = []
    y = {}
    distances = EuclideanDistance(x_test.iloc[i,:])
    index = np.argsort(distances)[:k]
    for i in index :
      y_label.append(y_train.iloc[i])
    for i in y_label :
      if i in y.keys() :
        y[i] += 1
      else :
        y[i] = 1
    max_val = max(y.values())
    for i in y.keys() :
      if y[i] == max_val :
        label.append(i) 
  return label

In [ ]:
kNN_results = {}
k_values = [1,3,5,7,9,11]
for i in k_values :
  kNN_results[i] = kNN(i)

In [ ]:
results = {}
for i in k_values :
  results[i] = pd.DataFrame({'Predicted' : y_test, 'Actual' : kNN_results[i]})

In [ ]:
ConfusionMatrix = {}
for i in k_values :
  ConfusionMatrix[i] = pd.crosstab(results[i]['Predicted'], results[i]['Actual'])
  print('Confusion Matrix for k = ',i,':\n',ConfusionMatrix[i],'\n')

Confusion Matrix for k =  1 :
 Actual      0   1
Predicted
0          88  13
1          22  54

Confusion Matrix for k =  3 :
 Actual      0   1
Predicted
0          90  11
1          26  50

Confusion Matrix for k =  5 :
 Actual      0   1
Predicted
0          91  10
1          26  50

Confusion Matrix for k =  7 :
 Actual      0   1
Predicted
0          94   7
1          26  50

Confusion Matrix for k =  9 :
 Actual      0   1
Predicted
0          94   7
1          27  49

Confusion Matrix for k =  11 :
 Actual      0   1
Predicted
0          94   7
1          25  51

In [ ]:
accuracies = {}
for i in k_values :
   accuracies[i] = np.diag(ConfusionMatrix[i]).sum()/ConfusionMatrix[i].to_numpy().sum()
   print('Accuracy for k =',i,'is :',accuracies[i],'\n')

Accuracy for k = 1 is : 0.8022598870056498

Accuracy for k = 3 is : 0.7909604519774012

Accuracy for k = 5 is : 0.7966101694915254

Accuracy for k = 7 is : 0.8135593220338984

Accuracy for k = 9 is : 0.807909604519774

Accuracy for k = 11 is : 0.8192090395480226

**Weighted kNN**

In [ ]:
def Weighted_KNN(k) :
  y = {}
  y_label = []
  label = []
  for i in range(0, len(x_test)) :
    distances = []
    y_label = []
    y = {}
    weight = []
    distances = EuclideanDistance(x_test.iloc[i,:])
    index = np.argsort(distances)[:k]
    for i in index :
      y_label.append(y_train.iloc[i])
      weight.append(1/(distances[i] + 0.00001)**2)
    for i in range(0,len(y_label)) :
      if y_label[i] in y.keys() :
        y[y_label[i]] += weight[i]
      else :
        y[y_label[i]] = weight[i]
    max_val = max(y.values())
    for i in y.keys() :
      if y[i] == max_val :
        label.append(i) 
  return label

In [ ]:
def Weighted_KNN_1(k) :
  y = {}
  y_label = []
  label = []
  for i in range(0, len(x_test)) :
    distances = []
    y_label = []
    y = {}
    weight = []
    distances = EuclideanDistance(x_test.iloc[i,:])
    for i in distances :
      weight.append(1/(i + 0.00001)**2)
    index = np.argsort(weight)[::-1][:k]
    for i in index :
      y_label.append(y_train.iloc[i])
    for i in range(0,len(y_label)) :
      if y_label[i] in y.keys() :
        y[y_label[i]] += weight[i]
      else :
        y[y_label[i]] = weight[i]
    max_val = max(y.values())
    for i in y.keys() :
      if y[i] == max_val :
        label.append(i) 
  return label

In [ ]:
Weighted_kNN_results = {}
k_values = [1,3,5,7,9,11]
for i in k_values :
  Weighted_kNN_results[i] = Weighted_KNN(i)

In [ ]:
weighted_results = {}
for i in k_values :
  weighted_results[i] = pd.DataFrame({'Predicted' : y_test, 'Actual' : Weighted_kNN_results[i]})

In [ ]:
WeightedConfusionMatrix = {}
for i in k_values :
  WeightedConfusionMatrix[i] = pd.crosstab(weighted_results[i]['Predicted'], weighted_results[i]['Actual'])
  print('Confusion Matrix for k =',i,':\n',WeightedConfusionMatrix[i],'\n')

Confusion Matrix for k = 1 :
 Actual      0   1
Predicted
0          88  13
1          22  54

Confusion Matrix for k = 3 :
 Actual      0   1
Predicted
0          89  12
1          24  52

Confusion Matrix for k = 5 :
 Actual      0   1
Predicted
0          91  10
1          24  52

Confusion Matrix for k = 7 :
 Actual      0   1
Predicted
0          92   9
1          24  52

Confusion Matrix for k = 9 :
 Actual      0   1
Predicted
0          91  10
1          24  52

Confusion Matrix for k = 11 :
 Actual      0   1
Predicted
0          92   9
1          24  52

In [ ]:
w_accuracies = {}
for i in k_values :
   w_accuracies[i] = np.diag(WeightedConfusionMatrix[i]).sum()/WeightedConfusionMatrix[i].to_numpy().sum()
   print('Accuracy for k =',i,'is :',w_accuracies[i],'\n')

Accuracy for k = 1 is : 0.8022598870056498

Accuracy for k = 3 is : 0.7966101694915254

Accuracy for k = 5 is : 0.807909604519774

Accuracy for k = 7 is : 0.8135593220338984

Accuracy for k = 9 is : 0.807909604519774

Accuracy for k = 11 is : 0.8135593220338984